body
{
margin:0;
}

.main
{
width: 100%;
height: 25vh;
background-color: #000000;
}

.titular
{
width:100%;
max-width:1400px;
margin:0 auto;
}

.headder{
width: 100%;
height: 25vh;
padding-top:2%;
}

.sites{
display: flex;
justify-content: space-between;
margin: 0 auto;
}

#momomo
{
margin-left:85%;
}

.inst__name
{
font-size: 4vh;
color: #fff;
margin-left:6%;
margin-top:-3.5%;
font-family: 'PT Mono', monospace;
}

.inst__z{
width: 10vh;
height: 10vh;
}

.nav{
width: 100%;
display: flex;
justify-content:space-between;
margin-top:1%;

}

.nav__link{
font-size: 4vh;
color: #FFF;
margin-top: 5vh;
text-decoration:none;
font-family: 'PT Mono', monospace;
}

#sush
{
margin-left:-55%;
}

#roll
{
margin-right:-55%;
}

.pic__logo
{
margin: 0 auto;
display: flex;
justify-content: center;
margin-top:-10%;
width: 70vh;
height: 50vh;
}

.nav2
{
display:flex;
justify-content:space-between;
}

.nav2__link
{
color: #000000;
font-size: 6vh;
text-decoration:none;
font-family: 'PT Mono', monospace;
}

.act
{
color: #000000;
font-size: 6vh;
text-decoration:none;
font-family: 'PT Mono', monospace;
margin-top:12%;
text-align:center;
}

.timetable
{
display: flex;
justify-content: center;
margin-top:30px;
}

.time
{
border:5px solid #000000;
color:#FFFFFF;
font-size: 3vh;
font-family: 'PT Mono', monospace;
background-color:#000000;
width: 35vh;
text-align:center;
padding:3px 3px;
}

.info
{
display:flex;
justify-content:space-between;
margin-top:5%;
align-items:center;
}

.addres{
font-size: 4vh;
color: #000000;
font-family: 'PT Mono', monospace;
}

.r{
font-size: 4vh;
color: #000000;
font-family: 'PT Mono', monospace;
}

/* menu */
.menu
{
padding-top:40%;
margin:0 auto;
}

.menu__images{
background-color: #000000;
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
padding: 10vh 0;

}

.pictures{
width: 33vh;
height: 33vh;

}

#pic1
{
margin-top:20%;
}

#pic2
{
margin-top:20%;
}

.podpis{
color: #fff;
font-size: 4vh;
text-align: center;
text-transform: uppercase;
font-family: 'PT Mono', monospace;
}

.pictures:hover{
display:block;
width: 45vh;
height: 45vh;
left: 30vh;
top: 17vh;
}

/* section */

.section{
width: 100%;
height: 100%;
margin:0 auto;
background-color: #010101;
font-family: 'PT Mono', monospace;

}

.container{
background-color: #fff;
width: 100%;
height: 70vh;
margin:0 auto;
padding-top:5%;
}

.all__items{
display: flex;
justify-content:flex-start;
padding:2%;
}

.im__add{
width: 20vh;
height: 20vh;
left: 0;
top:0;
}

#pic3

{
margin-top:15%;
}

#pic4

{
margin-top:15%;
}

.im__add:hover{
display:block;
width: 15vh;
height: 15vh;
left: 0vh;
top: 0vh;
}

/* text */

.text{
display: block;
width: 80vh;
height:58vh;
text-align: left;
color: #010101;
margin-left: 5vh;
margin-top: 5vh;
font-family: 'PT Mono', monospace;
}

/* bottom */

.bottom
{
width: 100%;
height: 30vh;
background-color: #000000;
font-family: 'PT Mono', monospace;
}

.bot__un
{
padding-top:3.5%;
width:100%;
max-width:1400px;
margin:0 auto;
}

.inst_z
{
width: 15vh;
height: 15vh;
}

.insta_txt
{
color: #fff;
font-size: 4vh;
font-family: 'PT Mono', monospace;
margin-left:-40%;
}

.adress
{
color: #ffffff;
font-size: 3vh;
font-family: 'PT Mono', monospace;
}

.inst
{
display:flex;
justify-content:space-between;
align-items:center;
}
